@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Source+Code+Pro&display=swap);
@import url(./assets/main.css);

.conum {
    font-weight: 500;
    color: #c0c0bd
}

#toctitle {
    display: none;
}

.toc ul {
    margin-left: 0
}

.toc .sectlevel2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(0.5 * 8px);
    margin-left: 0
}

@media (min-width: 40em) {
    .toc .sectlevel2 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.toc .sectlevel1 > li {
    margin-bottom: calc(4 * 8px);
    display: block;
}

.toc .sectlevel1 > li > a {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}

.toc .sectlevel1 > li:not(:last-child) > a::before {
    content: "";
    background-image: url("https://ehne.github.io/PyNode-Next/assets/typedocicons.png");
    background-size: 238px 204px;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: 0 3px 2px 0;
    background-position: 0px -34px;
}
.toc .sectlevel1 li:not(:last-child) .sectlevel2 > li > a::before {
    content: "";
    background-image: url("https://ehne.github.io/PyNode-Next/assets/typedocicons.png");
    background-size: 238px 204px;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: 0 3px 2px 0;
    background-position: -51px -68px;
}

.toc .sectlevel1 li:last-child .sectlevel2 > li > a::before {
    content: "";
    background-image: url("https://ehne.github.io/PyNode-Next/assets/typedocicons.png");
    background-size: 238px 204px;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: 0 3px 2px 0;
    background-position: -136px -68px;
}

/* setting up specific icons */
/* object literal */
a[href="#_graph"]::before {
    background-position: 0px -17px !important;
}

/* constructor */
a[href="#_init"]::before, a[href="#_init_2"]::before {
    background-position: -51px -102px !important;
}

/* interface */
a[href="#_color_3"]::before {
    background-position: 0px -68px !important;
}

.admonitionblock > table {
    display: inline;
}
.admonitionblock .icon {
    display: none;
}

.admonitionblock.note::before {
    content: 'ℹ️'
}
.admonitionblock.warning::before {
    content: '⚠️'
}
.admonitionblock.caution::before {
    content: '⁉️'
}