name: build docs

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
  workflow_dispatch:
  
 
jobs:
  build_docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      - name: Setup Ruby, JRuby and TruffleRuby
        uses: ruby/setup-ruby@v1.81.0
        with:
          ruby-version: 3.0
        
      - name: Setup Asciidoctor
        uses: reitzig/actions-asciidoctor@v2.0.0
      
      - name: move documentation.adoc out of docs folder temp
        run: mv docs/documentation.adoc ./
        
      - name: checkout doc styles branch into docs folder
        uses: actions/checkout@v2
        with:
          ref: 'asciidoc-styles'
          path: 'docs'
      
      - name: move documentation.adoc back into the docs folder
        run: mv documentation.adoc docs
        
      - run: cd docs && gem install rouge && asciidoctor -a rouge-style=github -a rouge-css=style documentation.adoc
      
      - name: save documentation.html artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: 'documentation.html'
          path: 'docs/documentation.html'
          
  save_to_gh_pages:
    name: save artifact to github pages
    runs-on: ubuntu-latest
    needs: build_docs
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: 'gh-pages'
      - name: download documentation.html
        uses: actions/download-artifact@v2.0.10
        with:
          name: 'documentation.html'
      - name: commit documentation.html
        uses: test-room-7/action-update-file@v1
        with:
          file-path: documentation.html 
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'gh-pages'
          commit-msg: |
            :rocket: new documentation
      
